@import "../style/mixins";
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(355px, 1fr));
  grid-gap: 2vw;
  margin: 4em 0em;
  @include mQ(450px) {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.img-container {
  display: grid;
  grid-template-rows: 100% auto;
  cursor: pointer;
  height: 500px;
  @include mQ(450px) {
    height: 440px;
  }
}

.work-img {
  width: 100%;
  height: 500px;
  @include mQ(450px) {
    height: 440px;
  }
  border-radius: 5px;
  &::after {
    position: absolute;
    display: none;
    top: 0;
    content: "";
    width: 100%;
    height: 500px;
    background: linear-gradient(
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.85)
    );
  }
}

.img-info {
  visibility: hidden;
  font-size: 24px;
  font-weight: 500;
  position: relative;
  text-align: center;
  transform: translateY(-25px);
  -webkit-transition: transform 0.6s ease-out;
  -moz-transition: transform 0.6s ease-out;
  -o-transition: transform 0.6s ease-out;
  transition: transform 0.6s ease-out;
}

.img-container:hover > .work-img::after {
  display: block;
}

.img-container:hover > .img-info {
  visibility: visible;
  transform: translateY(-45px);
}
